blogpost{
	border: 2px solid #7F4C74;
	padding:20px;
	font-family: "Droid Serif","serif";
	max-width: 600px;
	margin: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	display: block;

	.posted-on{
		color:#999;
	}
}