<div class="about-container">
	<div style="height:25vh;"></div>
	<div class="about-content">
		<div class="name-content">
			Hello there. My name is
			<br>
			<span class="name-name">Oliver Xu</span>
			<br>
			<br>
			I am a developer and artist that wishes to one day change the way that people live. 
			<br>
			<br>
			The most important thing for me is to do the right thing.
		</div>

		<br>
		<br>

		<ul class="contact-methods">
			<li><a href="mailto:oxu_e@hotmail.com" target="_blank">Email</a></li>
			<li><a href="https://github.com/oxue">Github</a></li>	
			<li><a href="https://www.linkedin.com/in/oliver-xu-16165b9b">LinkedIn</a></li>
			<li><a href="/res_distributable.pdf" target="_blank">Resume</a></li>
		</ul>

		<br>
		<br>
		<br>
		<br>
		<br>

	</div>
</div>